@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin:auto;
}

#scoreBox{
    position: absolute;
    top: 15px;
    right: 170px; 
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    text-shadow: 10px 10px 8px 0 rgba(0,0,0,.5);
    color: white;
}
.main{
    background: url("../assets/snakeGameBg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(rgb(120, 243, 120), rgb(238, 238, 86) );
    width: 90vmin;
    height: 92vmin;
    border: 3px solid black;
    box-shadow: 10px 10px 8px 0 rgba(0,0,0,.5);
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(red, yellow);
    border: .25vmin solid purple;    
    border-radius: 9px;
    transform: scale(1.02);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.7);
}
.body{
    background: linear-gradient(purple, rgb(23, 8, 79));
    border-radius: 8px;
    border: 2px solid rgb(179, 246, 177);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.7);
}

.food{
    background: linear-gradient(rgb(252, 129, 129), rgb(94, 94, 237));
    border: .25vmin solid black;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,.7);
    border-radius: 50%;
}